.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  margin-bottom: 32px;
  padding-left: 16px;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid #808080;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
  cursor: not-allowed;
}

#start-button {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  width: 75px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
}

#start-button:hover {
  background-color: #6c8cff;
}

#start-button:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;
  margin-left: 70px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
